<h1>My tasks</h1>

<ol>
  <% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task)%></li>
  <%= link_to "Delete #{task.title}",
              task_path(task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  <% end %>
</ol>

<%= link_to "Create a new task", new_task_path %>
